.bodybackground{
background-color:aliceblue;
background-position:center;
background-size:cover;
}
.h1{
font-color:purple;
font-size:40px;
}
#myfirstcanvas{
border-width:10px;
background-color:white;
border-style:dashed;
}
.color{
background-color:antiquewhite;

}